

<configuration>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logging.pattern.console}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.threshold.console}</level>
        </filter>
    </appender>

    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.path}${logging.file.name}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.path}${logging.file.name}.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxFileSize>${logging.logback.rollingpolicy.max-file-size}</maxFileSize>
            <maxHistory>${logging.logback.rollingpolicy.max-history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${logging.pattern.file}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.threshold.file}</level>
        </filter>
    </appender>

    <!-- Root Logger -->
    <root level="${logging.level.root}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Package-specific Log Levels -->
    <logger name="org.springframework.web" level="${logging.level.org.springframework.web}" />
    <logger name="org.hibernate" level="${logging.level.org.hibernate}" />
    <logger name="com.prac" level="${logging.level.com.prac}" />

</configuration>
